---
import { type CollectionEntry, getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import Hero from "../../components/astro/Hero.astro";
import { getAllTags } from "../../content/blog/_tags";

export async function getStaticPaths() {
	const posts = await getCollection("blog");
	return posts.map((post) => ({
		params: { slug: post.slug },
		props: post,
	}));
}
type Props = CollectionEntry<"blog">;

const post = Astro.props;
const { Content } = await post.render();

const tags = getAllTags(post.data);
---

<Layout title={post.data.title}>
	{
		post.data.draft && (
			<div class="ribbon-container">
				<div class="draft-ribbon">🚧 DRAFT POST 🚧</div>
			</div>
		)
	}
	<h1>{post.data.title}</h1>
	<Hero
		src={post.data.hero.link}
		caption={post.data.summary}
		alt={post.data.hero.alt}
	/>
	<Content />
	<div class="tags">
		tags: {
			tags.map((tag) => <a href={`/blog/tags/${tag.toLowerCase()}`}>{tag}</a>)
		}
	</div>
</Layout>

<style>
	.tags {
		display: flex;
		flex-direction: row;
		gap: 0.5em;
		font-size: small;
	}
	.tags > a {
		color: grey;
		text-decoration-color: grey;
	}
	.ribbon-container {
		position: fixed;
		top: 0em;
	}
	.draft-ribbon {
		position: fixed;
		background-color: yellow;
		color: black;
		font-family: monospace;
		font-weight: bold;
		font-size: 1em;
		padding: 0em 3em;
		text-align: center;
		top: 0em;
		left: 0em;
		width: 100vw;
		box-shadow: 0.25em 0.25em 0.5em black;
	}
</style>
