---
import type { PostCollection } from "../../content/blog/_collection";

interface Props {
	post: PostCollection;
	slug: string;
}

const { post, slug } = Astro.props;

const year = post.date.getUTCFullYear().toString().padStart(4, "0");
const month = (post.date.getUTCMonth() + 1).toString().padStart(2, "0");
const day = post.date.getUTCDate().toString().padStart(2, "0");
const dateString = `${year}/${month}/${day}`;
---

<div class="post-link">
	<a href={`/blog/${slug}`}>{post.title} - {post.summary}</a>
	<div>{dateString}</div>
</div>

<style>
	.post-link {
		display: flex;
		gap: 0.5em;
	}
	.post-link > div {
		color: grey;
	}
</style>
