---
interface Props {
	title: string;
}

const { title } = Astro.props;

const pages = [
	{name: "Posts", link: "/blog"},
	{name: "Projects", link: "/projects"}	
]

const socials = [
	{name: "github", link: "https://github.com/mini-ninja-64"},
	{name: "fediverse", link: "https://fosstodon.org/@mini_ninja_64"},
]

function isActive(path: string) {
	return Astro.url.pathname.startsWith(path);
}

---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<header>
			<a class="home" href="/">Minis.zone</a>
			<nav>
				{pages.map(({name, link}) => 
					<a class={isActive(link) ? "active":""} href={link}>{name}</a>
				)}
			</nav>
		</header>
		<slot />
		<hr/>
		<footer>
			{socials.map(({name, link}) => <a 
				href={link} 
				target="_blank" 
				rel="noopener noreferrer">
					{name}
				</a>
			)}
		</footer>
	</body>
</html>

<style>
	a  { 
		text-decoration: none; 
		color: inherit;
		text-decoration: underline white 0.1em;
		font-weight: bolder;
		transition: all .2s ease-in-out;
	}
	a:hover {
		text-shadow: pink 1px 0 10px;
	}
	.home {
		font-size: xx-large;
	}
	header {
		margin-top: 1em;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: end;
	}
	header > nav {
		display: flex;
		flex-direction: row;
		gap: 1em;
	}
	.active {
		text-decoration-color: pink; !important
	}

	hr {
		color: white;
		width: 100%;
	}
	footer {
		display: flex;
		flex-direction: row;
		gap: 1em;
		font-size: small;
	}
</style>

<style is:global>
	html {
		box-sizing: border-box;
		color: beige;
		background: #2e0030;
		margin: auto;
		width: 100vw;
		font: 1rem "Fira Sans", sans-serif;
	}
	*, *:before, *:after {
		box-sizing: inherit;
	}
	html > body {
		display: flex;
		flex-direction: column;
		max-width: 800px;
		padding-left: 1em;
		padding-right: 1em;
		margin: auto;
	}
	/* img {
		margin-left: 2px;
		margin-right: 2px;
		border-radius: 5px;
		width: 100%;
		max-width:100%;
		height: auto;
		align-self: center;
	} */
	.astro-code {
		margin-left: 2px;
		margin-right: 2px;
		border-radius: 5px;
		width:100%;
		max-width:100%;
		padding: 10px;
	}
	code {
		color: #e1e4e8;
		border-radius: 5px;
		padding: 4px;
		background-color: #24292e;
	}
</style>
